---
import { getPublicEntries } from '../utils/content';
import Layout from '../layouts/Layout.astro';

// 获取 'treeholes' 集合并排序
const holes = (await getPublicEntries('TreeHoles')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="树洞回响">
  <h1>时间流</h1>
  <p>一些不连贯的片段。</p>
  <div>
    {
      holes.map(async (hole) => {
        const { Content } = await hole.render();
        return (
          <article class="hole">
            <small>{hole.data.pubDate.toLocaleDateString()}</small>
            <Content />
          </article>
        );
      })
    }
  </div>
</Layout>

<style>
  .hole {
    border-left: 2px solid var(--pico-muted-border-color);
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
  .hole > :global(p) {
    /* 针对渲染出的 markdown 内容 */
    margin-top: 0.5rem;
  }
</style>
